Thumbs.db
.DS_Store
.gradle
build/
classes/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.idea
grails-app/services/express/reportscriptlet/
grails-app/utils/
grails-app/views/category/
grails-app/views/error/
grails-app/views/templates/expenses/
grails-app/views/templates/layouts/admin1/
grails-app/views/templates/layouts/admin3/
src/integration-test/
src/main/groovy/
src/main/webapp/js/metronic/theme/assets/apps/img/
src/main/webapp/js/metronic/theme/assets/global/plugins/angularjs/plugins/angular-file-upload/uploads/
src/main/webapp/js/metronic/theme_rtl/assets/apps/img/
src/main/webapp/js/metronic/theme_rtl/assets/global/plugins/angularjs/plugins/angular-file-upload/uploads/
